# Testing results of Optimizing Matrix multiplication


## A.1
*'Before optimization'*
- CPU time: 0.001000

*'After optimization'
- CPU time: 0.000000

##A.2
*'Before Optimizations'*
- CPU TIME: 0.001000

*'After optimization'
- CPU time: 0.000000