# Testing results of Optimizing Matrix multiplication 1

*'Before optimization'*
- CPU time: 0.001000

*'After optimization'
- CPU time: 0.000000